<!doctype html>
<html>
<head>
    <title>Дополнительное задание</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/manual.css" >
    <script src="js/respond.min.js"></script>
</head>

<body>
<!-- JS код -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Главная</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/webpage">Т. Журналъ</a></li>
        <li><a href="/test">Тест</a></li>
      </ul>
    </div>
  </div>
</nav>
<form action="/test">
<div class="row">
<div class="col-xs-12" style="text-align: center">Тест на яти</div>
</div>
<div class="row">
{{ test | safe }}
</div>
<div class="row">
<div class="col-xs-12">
{{ results | safe }}
</div>
<div class="row">
<div class="col-xs-12">
{{ table | safe }}
</div>
</div>
</form>
<footer class="container-fluid text-center">

</footer>
</body>
</html>
